/* Dark green    #3c8453
  Malta          #beae99
  Zeus           #2c271d
  Yellow Metal   #7d5e3e
  Shingle Fawn   #674731*/

  /* GLOBAL 
  -------------------------*/
 /* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html, body {
  height: 100;
  margin: 0;
  font-size: 62.5% /* set default to 10px */
}

@font-face {
  font-family:Parisienne, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.delius-swash-caps-regular {
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}
.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  background: #beae99; 
  font-family: "Open Sans", sans-serif;
 /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-size: 1.5rem;
  line-height: 1.3;
}
h1, h2, h3 {
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  margin: 0;
}
h1{
  font-size: 7rem;
  line-height: .9;
}
h2{
  font-size: 3.6rem;
}
h3{
  font-size: 2.4rem;
}
a{
  color: #3c8453;
  
 }
 a:hover{
  color: #2c271d;
  text-decoration: none;
 }
 .content-wrapper{
  margin: 0 auto;
  padding: 0px;
  max-width: 1100px;
 }
.btn {
  background: #3c8453;
  color: #c5bfaf;
}

 h1, p{ color: #2c271d;
  }

/* HOME
  -------------------------*/
.home{
  background: url(../images/parsons_699588_25e1.webp) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column; 
}
.home .content-wrapper {
  flex: 1 0 auto;
}

.content-bg {
  background: rgb(255 255 255 / 0.8);
  padding: 30px;

}

.home .content-wrapper img {
  position: absolute;
  top: 5%;
  left: 70%;
}
/* RESUME
  -------------------------*/
.resume header::before {
  background: url(../images/parsons_699588_25e1.webp) center;
  background-size: cover;
  content: "";
  display: block;
  height: 400px;
}
.resume-section{
  margin-bottom: 50px;
}
.resume-section h2 {
  border-bottom: 2px dashed #795b3f;
}

.download-link {
  position: fixed;
  top: 410px;
  left: 5px;
}

.expertise{
  display: grid;
  grid-template-columns: 350px 350px 350px;
}

.expertise li{
  height: 30px;
}

.profile{
  width: 900px;
}

.proficiencies{
  display: grid;
  grid-template-columns: 350px 350px 350px;
}
.proficiencies li{
  height: 30px;
}

.learning{
  display: grid;
  grid-template-columns: 375px 400px 375px;
  margin-bottom: 0;
}
.learning li{
  height: 40px;
}
.resume-section h3{
  margin: 0;
}

/* CONTACT
  -------------------------*/
  .contact{
  background: url(../images/parsons_699588_25e1.webp) no-repeat;
  background-size: cover;
}

.contact .content-wrapper {
  background: rgb(255 255 255 / 0.8);
  padding-left: 10px;
}
/* FOOTER
  -------------------------*/
  footer p {
  color: #c5bfaf;
  background: #252b33;
  margin-top: 0px;
}

#quoted{
  font-style: italic;
}


